/* ========== NAVBAR =========== */
#brand {
	color: dimgrey;
}



/* ============= HEADER ============= */
header {
	height: 70vh;
	background-image: url(../img/intro-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 5rem;
}

@media (orientation: landscape) {
	header {
		height: 130vh;
	}
}



header h1 {
	font-size: 2.5rem;
	color: white;
	text-align: center;
}

header h5 {
	color: white;
	text-align: center;
}

header hr {
	border: 0.5px solid white;
	width: 20rem;
}

/* Tablet view*/
@media (min-width: 768px) {
	header {
		height: 50vh;
	}
	
	header h1 {
		font-size: 4rem;
	}
	
	header h5 {
		font-size: 1.75rem;
	}
	
	header hr {
		width: 25rem;
	}
}

header ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

@media (min-width: 768px) {
	header li {
		display: inline-block;
	}
}

header li {
	list-style-type: none;
	margin: 2.5rem 0;
}

header a {
	background-color: white;
	color: black;
	margin: 1rem 0;
	padding: 0.8rem 2rem;
	border-radius: 5px;
}

header a:hover {
	color: black;
	text-decoration: none;
}


/* Nagyfelbotású telefon fektetett módban. pl. iphone X*/
@media (min-width: 812px) and (orientation:landscape) {
	header {
		height: 120vh;
	}
}

/* Tablet fektett módban. Itt már kisebbre kell venni a magasságot a mobilokhoz képest*/
@media (min-width: 1024px) and (orientation:landscape) {
	header {
		height: 60vh;
	}
}




/* ================= MAIN, SECTION AND ARTICLE ================*/
#main-content article{
	margin: 4rem 0;
}


#main-content img {
	width: 100%;
	height: auto;
}


#main-content h1 {
	font-size: 1.75rem;
	margin-top: 1rem;
}

/* Fektetett módban egymás mellé igazítjuk a diveket*/
@media (min-width: 667px) and (orientation:landscape) {
  .col-md-6 {
      max-width: 50%;
  }
}


@media (min-width: 1280px) {
	#main-content div {
		max-width: 35%;
		margin-left: auto;
		margin-right: auto;
	}
}


/* =================== BANNER =================== */
#banner-container {
	display: table;
}

#banner {
	height: 70vh;
	background-image: url(../img/banner-bg.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: table-cell;
	vertical-align: middle;
}

#banner ul{
	list-style-type: none;
	padding-left: 1rem;
}

#banner li {
	list-style-type: none;
	margin: 2.5rem 0;
}

#banner a {
	background-color: white;
	color: black;
	margin: 1rem 0;
	padding: 0.8rem 2rem;
	border-radius: 5px;
}

#banner a:hover {
	text-decoration: none;
}

#banner h1 {
	color: white;
	font-size: 2rem;
	padding-left: 1rem;
}

@media (min-width: 768px) {
	#banner {
		height: 35vh;
	}
	
	#banner li {
		display: inline-block;
	}
}

/* Nagyfelbontású mobilok esetén (pl. iphon X) a banner magasságát növelni kell, hogy a tartalom elférjen; */
@media (min-width: 812px) and (orientation:landscape) {
	#banner {
		height: 80vh;
	}
}

/* Tableten visyont ezt a magasságot csökkenteni kell az alacsonyabb felbontás miatt*/
@media (min-width: 1024px) and (orientation:landscape) {
	#banner {
		height: 50vh;
	}
}

/* ================ FOOTER ================== */
footer {
	padding: 2rem 0;
}

footer ul {
	text-align: center;
	padding: 0;
}

footer li {
	display: inline-block;
	margin: 0.5rem;
}

.footer-message {
	text-align: center;
}

footer span {
	font-size: 0.75rem;
}












